<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap"
/>

<body>
  <section class="products">
    <div
      class="all-products"
      *ngIf="schemasGeneral.length > 0; else noApplicationsMessage"
    >
      <div class="product" *ngFor="let schema of schemasGeneral; let i = index">
        <div class="product-info">
          <h4 class="product-title">Index: {{ i + 1 }}</h4>
          <p class="product-price">Name: {{ schema.name }}</p>
          <a class="product-btn" href="#">Relations</a>
        </div>
      </div>
    </div>
  </section>
</body>

<ng-template #noApplicationsMessage>
  <div class="no-applications-message">
    <h1>No schemas created.</h1>
  </div>
</ng-template>
