<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
        <a [routerLink]="['/legoft-lab/client', user, userId, 'applications']" type="button"
            class="btn btn-dark d-flex align-items-center">
            <i class="las la-arrow-left fs-4 me-1"></i>
            <p class="m-0">Mis Apps</p>
        </a>
    </div>


    <ng-container *ngIf="loading; else elseTemplate">

        <div class="card m-3" aria-hidden="true">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="m-5 d-flex align-items-center justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-12"></span>
                        </p>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-4 placeholder-xs"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #elseTemplate>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <ng-container *ngIf="application.icon && application.icon !== '<ICON BASE64>'">
                        <img class="img-fluid rounded-start" [src]="application.icon" alt="Icon" class="icon" />
                    </ng-container>

                    <ng-container *ngIf="!application.icon ">
                        <img class="img-fluid rounded-start" [src]="appImageUrl" alt="Icon" />
                    </ng-container>
                </div>
                <div class="col-md-9">
                    <div class="card-body h-100 d-flex flex-column justify-content-between">
                        <h5 class="card-title fs-4">{{application.name}}</h5>
                        <p class="card-text">
                            {{application.description}}
                        </p>
                        <p class="card-text"><small class="text-body-secondary">Last updated:
                                {{getTime(application.date)}}</small>
                        </p>
                        <div class="d-flex justify-content-end align-items-end">
                            <a href="#" class="mt-3 ms-3 btn btn-primary"> <i class="lar la-edit fs-4"></i>Editar</a>
                            <a href="#" class="mt-3 ms-3 btn btn-danger"><i class="las la-trash fs-4"></i>Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>


    <app-relationship></app-relationship>



</div>