<div class="container">
  <!-- Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
  >
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <button mat-raised-button class="navbar-toggler" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <!-- Existing menu items -->
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('/dashboard')">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('/user-profile')">
              <i class="material-icons">person</i>
              <p>User</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('/applications')">
              <i class="material-icons">apps</i>
              <p>Applications</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('/entities')">
              <i class="material-icons">E</i>
              <p>Entities</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('/owner')">
              <i class="material-icons">business</i>
              <p>Owner</p>
            </a>
          </li>
        </ul>
        <form class="navbar-form" role="search">
          <div class="input-group no-border">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Search..."
            />
            <button
              mat-raised-button
              type="submit"
              class="btn btn-white btn-round btn-just-icon"
            >
              <i class="material-icons">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <!-- Content Section -->
  <div class="content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
