<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<div *ngIf="notifier" [class.open-popup]="notifier" class="popup" id="popup">
  <img src="{{ viche }}" alt="imagen-legoft" />
  <h2>Successfully</h2>
  <p>Schema created successfully</p>
  <button class="btnHome" type="button" (click)="closeDialog()">Ok</button>
</div>

<div class="modal-content">
  <form [formGroup]="formulario" class="modal-form">
    <div class="modal-buttons">
      <button class="bexample" type="button" (click)="setHolaInDescription()">
        Exam 1
      </button>
      <button class="bexample" type="button" (click)="setHola1InDescription()">
        Exam 2
      </button>
    </div>

    <div *ngIf="errornotifier" class="alert" [class.alert-open]="errornotifier">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg">{{ larespuesta }}</span>
      <span class="fas fa-times" (click)="closeDialog2()"></span>
    </div>

    <div class="div-entero-input">
      <div class="input-div">
        <label for="index">Index</label>
        <input
          type="number"
          id="index"
          name="index"
          formControlName="index"
          placeholder="1"
        />
        <p
          class="error-message"
          *ngIf="
            formulario.get('index')?.hasError('required') &&
            formulario.get('index')?.touched
          "
        >
          Index is required.
        </p>
        <p
          class="error-message"
          *ngIf="
            formulario.get('index')?.hasError('pattern') &&
            formulario.get('index')?.touched
          "
        >
          Numbers only.
        </p>
      </div>

      <div class="input-div">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          placeholder="legoft"
        />
        <p
          class="error-message"
          *ngIf="
            formulario.get('name')?.hasError('required') &&
            formulario.get('name')?.touched
          "
        >
          Name is required.
        </p>
      </div>
    </div>

    <div class="text-div">
      <label for="description">Fields</label>
      <textarea
        id="description"
        name="description"
        formControlName="description"
        placeholder=' {"name":"nombre", "type": "string", "required": true, "update": true, "unique": true}'
      ></textarea>
      <p
        class="error-message"
        *ngIf="
          formulario.get('description')?.hasError('required') &&
          formulario.get('description')?.touched
        "
      >
        Description is required.
      </p>
    </div>

    <div class="modal-buttons">
      <button class="bsave" type="button" (click)="onSubmit()">Save</button>
    </div>
  </form>
</div>
